^rcppExports.cpp$
^stanExports_*

.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
*.hpp
*.dll
*.h
.Rproj.user/

## Do not ignore this:
!inst/include/stan_meta_header.hpp
!/tests/local/Bringmann.R
/tests/local/*.R
/tests/local/*.txt
*.Rds
*.org
*.csv
*.sav
!/tests/local/ptsd.R
!/tests/local/fitbit.R

src/stanExports_DCCMGARCH.h
*.h
*.cpp
/inst/stan/DCCMGARCHfixedS
/inst/stan/DCCMGARCHfixedD
/inst/stan/DCCMGARCHconvex
/inst/stan/DCCMGARCHconvexCor
/inst/stan/DCCMGARCHrandQ
/inst/stan/DCCMGARCHrandS
*.Rd
/inst/stan/VAR
/inst/stan/DCPCrand
/inst/stan/DCPCfixedDelta
/inst/stan/DCCMT
/inst/stan/DCCMGARCHrandSredsum
